version: '3.6'

services:

  mongo:
    image: mongo
    ports:
      - 127.0.0.1:27017:27017
    restart: unless-stopped
    env_file: .env

  mongo-express:
    image: mongo-express
    ports:
      - 127.0.0.1:8081:8081
    restart: unless-stopped
    env_file: .env
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: $MONGO_INITDB_ROOT_USERNAME
      ME_CONFIG_MONGODB_ADMINPASSWORD: $MONGO_INITDB_ROOT_PASSWORD
    depends_on:
      - mongo

  omniboard:
    image: vivekratnavel/omniboard:latest
    command: ["--mu", "mongodb://$MONGO_INITDB_ROOT_USERNAME:$MONGO_INITDB_ROOT_PASSWORD@mongo:27017/$MONGO_DATABASE?authSource=admin"]
    ports:
      - 127.0.0.1:9000:9000
    restart: unless-stopped
    env_file: .env
    depends_on:
      - mongo

  sacredboard:
    build: ./sacredboard
    ports:
      - 127.0.0.1:5000:5000
    restart: unless-stopped
    env_file: .env
    depends_on:
      - mongo

