language: python
sudo: false
install:
  - pip install tox
matrix:
  include:
  - python: "2.7"
    env: TOX_ENV=py27
  - python: "3.4"
    env: TOX_ENV=py34
  - python: "2.7"
    env: TOX_ENV=flake8
  - python: "3.5"
    env: TOX_ENV=coverage
script:
  - tox -e $TOX_ENV

branches:
  only:
    - master
    - /^release.*$/
