pytest==7.0.0 # tests/test_utils.py depends on that pytest version is exactly 7.0.0
colorama
docopt
gitdb2
GitPython
hashfs
jsonpickle
Mako
MarkupSafe
mock
mongomock
munch>=2.5
packaging
pandas
pbr
python-dateutil
pytz
PyYAML
scandir
sentinels
smmap2
SQLAlchemy
tinydb
tinydb-serialization
wrapt
scikit-learn
pymongo
py-cpuinfo
boto3
moto
google-compute-engine
google-cloud-storage
pre-commit
