pytest==7.1.2 # tests/test_utils.py depends on that pytest version is exactly 7.1.2
colorama
docopt-ng
gitdb2
GitPython
hashfs
jsonpickle
Mako
MarkupSafe
mock
mongomock
munch>=2.5
packaging
pandas
pbr
python-dateutil
pytz
PyYAML
scandir
sentinels
smmap2
SQLAlchemy
tinydb
tinydb-serialization
wrapt
scikit-learn
pymongo<4.9 # mongomock.gridfs.enable_gridfs_integration() is not compatible with pymongo>=4.9. https://github.com/mongomock/mongomock/issues/903
py-cpuinfo
boto3
moto
google-compute-engine
google-cloud-storage
pre-commit
