colorama>=0.4.0
docopt>=0.6.2
jsonpickle>=0.9.3
mock>=2.0.0
munch>=2.0.4
pbr>=1.10.0
py>=1.4.32
py-cpuinfo>=4.0
six>=1.10.0
wrapt>=1.10.8
packaging>=18.0
pymongo>=3.8.0

# tests/test_utils.py depends on that pytest version is exactly 4.3.0
pytest==4.3.0